<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>CoronaVirus Tracker</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

</head>

<body>
<div class="container">
	<h1>CoronaVirus Tracker Application</h1>
	<p>This application lists the current number of cases across the
		globe</p>

	<div class="jumbotron">
		<p class="lead">Total cases reported as of today</p>
		<h1 class="display-4" th:text="${totalReportedCases}"></h1>

	</div>
		<table class="table">
			<tr>
				<th>STATE</th>
				<th>COUNTRY</th>
				<th>CONFIRMED CASED</th>
				<th>DEATH</th>
				<th>RECOVERED</th>
			</tr>

			<tr th:each="locationstat : ${locationstates}">
				<td th:text="${locationstat.state}"></td>
				<td th:text="${locationstat.country}"></td>
				<td th:text="${locationstat.confirmedCases}">0</td>
				<td th:text="${locationstat.deaths}">0</td>
				<td th:text="${locationstat.recovered}">0</td>


			</tr>
		</table>
	</div>
</body>

</html>